body {
    margin: 5% 10% 5% 10%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-image: linear-gradient(#d4d4d4, #646464 40%);
    /* background-image: url("/images/space-background.jpeg"); */
    /* background-size: 100% 100%; */
    font-family: monospace;
    font-size: medium;
}


.first-third {
    margin: 5% 10% 5% 10%;
    padding: 2.5% 5% 2.5% 5%;
}
.second-third {
    display: flex;
    margin: 5% 10% 5% 10%;
    padding: 2.5% 5% 2.5% 5%;
    align-items: center;
    justify-content: center;
}
.button {
    display: flex;
    margin: 2%;
    padding: 2% 2% 2% 2%;
    align-items: stretch;
    justify-content: center;
    height: 25%;
    width: 25%;
}
.last-third {
    display: flex;
    align-items:baseline;
    justify-content: center;
}